/**
 * To easily view and edit these color values directly in your editor,
 * install the "Colorize" extension:
 * https://marketplace.visualstudio.com/items?itemName=kamikillerto.vscode-colorize
*/

@layer base {
  :root[data-theme="blue"] {
    --primary: 197, 90%, 48%;
    --secondary: 197, 65%, 15%;
  }

  :root[data-theme="red"] {
    --primary: 0, 78%, 52%;
    --secondary: 0, 55%, 16%;
  }

  :root[data-theme="green"] {
    --primary: 125, 90%, 52%;
    --secondary: 125, 60%, 16%;
  }

  :root[data-theme="purple"] {
    --primary: 270, 70%, 56%;
    --secondary: 270, 50%, 18%;
  }

  :root[data-theme="orange"] {
    --primary: 32, 88%, 54%;
    --secondary: 32, 65%, 18%;
  }

  :root[data-theme="pink"] {
    --primary: 320, 80%, 70%;
    --secondary: 320, 50%, 18%;
  }

  :root[data-theme="custom"] {
    --primary: 197, 90%, 48%;
    --secondary: 197, 65%, 15%;
  }
}
